<div class="outer_container">
    <%= render "layouts/navbar"%>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-text center">Dashboard</h1>                
                <div class="row">
                    <div class="col s4">
                        <div class="card center">
                            <%= link_to goals_index_path do %>
                            <div class="card-content black-text">
                                <i class="material-icons large">highlight</i>
                                <span class="card-title">Goals</span>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="card center">
                            <div class="card-content">
                                <i class="material-icons large">today</i>
                                <span class="card-title">Schedules</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="card center">
                            <div class="card-content">
                                <i class="material-icons large">note_add</i>
                                <span class="card-title">Notes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>