<div class="outer_container">
    <div class="container">
        <div class="row login_card">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Time Management App</span>
                        <p class="app_description">
                        This Time Management Application contains different time management tools for managing your time. This includes
                        calendars, goal tracking and schedules. This application has a mobile counter part, a user can adjust data on
                        a desktop or mobile app and the data will update on the other platform.

                        If these features sound interesting to you, you can sign up or login using the link below.
                        </p>

                        <div class="card-actions login_actions">
                            <div class="row">
                                <div class="col s6">
                                    <%= link_to "Sign Up", users_new_path, class: "waves-effect waves-light btn blue" %>
                                </div>
                                <div class="col s6">
                                    <%= link_to "Login", users_login_path, class: "waves-effect waves-light btn blue right" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>