<div class="outer_container">
    <%= render "layouts/navbar" %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-text center">Edit Goal</h1>
                <%= render "goal_form", edit: true, url: update_goal_path(@goal) %>
            </div>
        </div>
    </div>
</div>