<div class="outer_container">
    <%= render "layouts/navbar" %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="white-text center">New Goal</h1>
                <%= render "goal_form", edit: true, url: create_goal_path %>
            </div>
        </div>
    </div>
</div>
