// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.welcome_card {
    padding-top: 20%;
}

div.login_actions {
    margin-top: 2%;
}

span.alert_message {
    color: red;
}