// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.outer_container {
    margin: 0;
    background-color: #20639B;
    height: 100vh;
}

div.welcome_card {
    padding-top: 20%;
}

div.login_card {
    padding-top: 15%;
}

div.login_actions {
    margin-top: 2%;
}