<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">Time Stone</a>
        <ul class="right">
            <li><%= link_to "Logout", logout_path %></li>
        </ul>
    </div>
</nav>